*{
	margin: 0px;
	padding: 0px;
}

.s5_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s5_2 {
	position: absolute;
	left: 131px;
	top: 438px;
	animation: revealHorizontal 0.7s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s5_3 {
	position: absolute;
	left: 533px;
	top: 539px;
	animation: fadeInDown 1.3s;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 3;
}

.s5_4 {
	position: absolute;
	left: 533px;
	top: 472px;
	animation: fadeInDown 1.3s;
	animation-delay: 2s;
	animation-fill-mode: both;
	z-index: 3;
}

.s5_5 {
	position: absolute;
	left: 533px;
	top: 404px;
	animation: fadeInDown 1.3s;
	animation-delay: 2.5s;
	animation-fill-mode: both;
	z-index: 3;
}

@-webkit-keyframes revealHorizontal{
 0% {
   clip: rect(0px,0px,250px,0px);
   opacity: 1;
 }
 
 100% {
   clip: rect(0px,324px,250px,0px);
   opacity: 1;
 }
}
@keyframes revealHorizontal {
 0% {
   clip: rect(0px,0px,250px,0px);
   opacity: 1;
 }
 
 100% {
   clip: rect(0px,324px,250px,0px);
   opacity: 1;
 }
}

.revealHorizontal {
 -webkit-animation-name: revealHorizontal;
 animation-name: revealHorizontal;
}