*{
	margin: 0px;
	padding: 0px;
}

.s2_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2_2 {
	position: absolute;
	left: 344px;
	top: 273px;
	animation: zoomIn 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s2_3 {
	position: absolute;
	left: 248px;
	top: 567px;
	animation: fadeInRight 2s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s2_4 {
	position: absolute;
	left: 167px;
	top: 320px;
	animation: fadeInRight 2s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s2_5 {
	position: absolute;
	left: 474px;
	top: 161px;
	animation: fadeInUp 2s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s2_6 {
	position: absolute;
	left: 713px;
	top: 326px;
	animation: fadeInLeft 2s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}

.s2_7 {
	position: absolute;
	left: 622px;
	top: 552px;
	animation: fadeInLeft 2s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}