* {
  margin: 0px;
  padding: 0px;
}

.background {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.mask {
  position: absolute;
  left: 232px;
  top: 94px;
  width: 560px;
  height: 196px;
  z-index: 5;
}

.logo {
  position: absolute;
  z-index: 4;
}

