* {
	margin: 0px;
	padding: 0px;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 2;
}

.s1_3 {
	position: absolute;
	left: 434px;
	top: 414px;
	width: 49px;
	height: 59px;
	animation: flash 3s infinite;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 3;
}


.s1_pop1 {
	position: absolute;
	left: 81px;
	top: 360px;
	width: 400px;
	height: 100px;
	z-index: 4;
}

.s1_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 6;
}