*{
	margin: 0px;
	padding: 0px;
}

.s1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s2 {
	position: absolute;
  left: 447px;
  top: 265px;
  width: 138px;
  height: 138px;
	z-index: 5;
}

.pulseIt {
	animation: pulse 1s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
}

.hitTab1 {
	position: absolute;
  left: 384px;
  top: 215px;
  width: 256px;
  height: 230px;
	z-index: 15;
}

.tabwrap {
	position: absolute;
	top: 50px;
	width: 1024px;
	height: 100px;
	z-index: 5;
}

.s3 {
	position: absolute;
  left: 396px;
  top: 277px;
  width: 231px;
  height: 162px;
  	animation: slideInDownSmall 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
    display: none;
	z-index: 8;
}

.s4 {
	position: absolute;
  left: 128px;
  top: 257px;
  width: 770px;
  height: 423px;
   	animation: zoomIn 1s;
	animation-delay: 1s;
	animation-fill-mode: both;
    display: none;
	z-index: 6;
}

.s5 {
	position: absolute;
  left: 435px;
  top: 355px;
  width: 161px;
  height: 263px;
   	animation: zoomIn 1s;
	animation-delay: 2s;
	animation-fill-mode: both;
    display: none;
	z-index: 12;
}

.s6 {
	position: absolute;
  left: 30px;
  top: 432px;
  width: 220px;
  height: 174px;
    display: none;
	z-index: 3;
}

.s7 {
	position: absolute;
  left: 285px;
  top: 432px;
  width: 221px;
  height: 174px;
    display: none;
	z-index: 3;
}

.s8 {
	position: absolute;
  left: 531px;
  top: 432px;
  width: 221px;
  height: 174px;
    display: none;
	z-index: 3;
}

.s9 {
	position: absolute;
  left: 773px;
  top: 432px;
  width: 221px;
  height: 174px;
    display: none;
	z-index: 3;
}

.s10 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s2_pop1 {
	position: absolute;
	height: 100px;
	width: 150px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s2_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}


@keyframes slideInDownSmall {
  0% {
    opacity: 1;
    left: 396px;
    top: 277px;
  }

  100% {
    opacity: 1;
    left: 396px;
    top: 386px;
  }
}