* {
	margin: 0px;
	padding: 0px;
}

.s3_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s3_2 {
	position: absolute;
  left: 169px;
  top: 424px;
  width: 139px;
  height: 88px;
	animation: flash 0.2s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
	transition-timing-function: linear;
	z-index: 3;
}

.s3_3 {
	position: absolute;
  left: 53px;
  top: 664px;
  width: 350px;
  height: 24px;
	animation: pulseIt 2s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
	transition-timing-function: linear;
	z-index: 5;
}

.s3_4 {
	position: absolute;
  left: 230px;
  top: 380px;
  width: 6px;
  height: 6px;
	animation: upDown1 0.5s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
	transition-timing-function: linear;
	z-index: 6;
}

.s3_5 {
	position: absolute;
  left: 235px;
  top: 380px;
  width: 6px;
  height: 6px;
	animation: upDown2 0.5s infinite;
	animation-delay: 0.2s;
	animation-fill-mode: both;
	transition-timing-function: linear;
	z-index: 6;
}

.s3_6 {
	position: absolute;
  left: 233px;
  top: 418px;
  width: 6px;
  height: 6px;
	animation: upDown3 1s infinite;
	animation-delay: 0.3s;
	animation-fill-mode: both;
	transition-timing-function: linear;
	z-index: 6;
}



@keyframes pulseIt {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
	opacity: 0.5;
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
	opacity: 1;
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
	opacity: 0.5;
  }
}


@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}

@keyframes upDown1 {
  0% {
	left: 230px;
	top: 380px;
	opacity: 1;
  }
  
  50% {
	left: 230px;
	top: 420px;
	opacity: 1;
  }
  
  100% {
	left: 230px;
	top: 380px;
	opacity: 1;
  }
}

@keyframes upDown2 {
  0% {
	left: 235px;
	top: 380px;
	opacity: 1;
  }
  
  50% {
	left: 235px;
	top: 420px;
	opacity: 1;
  }
  
  100% {
	left: 235px;
	top: 380px;
	opacity: 1;
  }
}

@keyframes upDown3 {
  0% {
	left: 233px;
	top: 380px;
	opacity: 1;
  }
  
  50% {
	left: 233px;
	top: 420px;
	opacity: 1;
  }
  
  100% {
	left: 233px;
	top: 380px;
	opacity: 1;
  }
}


@keyframes revealFull {
  0% {
    clip: rect(768px,0px,0px,1024px);
	opacity: 1;
  }
  
  100% {
	clip: rect(0px,1024px,768px,0px);
	opacity: 1;
  }
}