*{
	margin: 0px;
	padding: 0px;
}

.s3_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s3_2 {
	position: absolute;
	left: 89px;
	top: 384px;
	animation: fadeInLeft 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s3_3 {
	position: absolute;
	left: 480px;
	top: 381px;
	animation: fadeInRight 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 3;
}