*{
  margin: 0px;
  padding: 0px;
}

.s2_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s2_2 {
  position: absolute;
  left: 122px;
  top: 46px;
  width: 685px;
  height: 211px;
  animation: flipInX 0.3s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  z-index: 2;
}
