*{
  margin: 0px;
  padding: 0px;
}

.s1_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s1_2 {
  position: absolute;
  left: 108px;
  top: 42px;
  width: 663px;
  height: 211px;
  animation: flipInX 0.3s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  z-index: 2;
}