*{
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s1_2 {
	position: absolute;
  left: 268px;
  top: 108px;
  width: 492px;
  height: 80px;
	animation: noneflipInXFlash 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_3 {
	position: absolute;
  left: 557px;
  top: 145px;
  width: 345px;
  height: 68px;
	animation: flipInXFlash 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_4 {
	position: absolute;
  left: 599px;
  top: 374px;
  width: 17px;
  height: 26px;
	animation: upDown 1s infinite linear;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_5 {
	position: absolute;
  left: 573px;
  top: 695px;
  width: 38px;
  height: 50px;
	animation: pulse 1s infinite;
	animation-delay: 1s;
	animation-fill-mode: both;
	z-index: 5;
}

.s1_6 {
	position: absolute;
  left: 0px;
  top: 0px;
  width: 1024px;
  height: 768px;
  display: none;
	z-index: 15;
}

.s1_7 {
	position: absolute;
  left: 113px;
  top: 212px;
  width: 298px;
  height: 452px;
	animation: flash 2s infinite;
	animation-delay: 0s;
	animation-fill-mode: both;
	  display: none;
	z-index: 25;
}

.s1_8 {
	position: absolute;
  left: 557px;
  top: 145px;
  width: 345px;
  height: 68px;
	animation: flipInXFlash 0.5s;
	animation-delay: 0s;
	animation-fill-mode: both;
	  display: none;
	z-index: 25;
}

.s1_9 {
	position: absolute;
  left: 453px;
  top: 541px;
  width: 176px;
  height: 41px;
	animation: flashLong 3s infinite;
	animation-delay: 1s;
	animation-fill-mode: both;
	  display: none;
	z-index: 25;
}

.hit_pop1 {
	position: absolute;
  left: 484px;
  top: 584px;
  width: 237px;
  height: 188px;
	z-index: 10;
}

.hit_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}

@keyframes upDown {
  0% {
    opacity: 1;
    left: 595px;
    top: 367px;
    width: 17px;
    height: 26px;
  }

  50% {
    opacity: 1;
	left: 595px;
    top: 374px;
    width: 17px;
    height: 26px;
  }
  
  100% {
    opacity: 1;
    left: 595px;
    top: 367px;
    width: 17px;
    height: 26px;
  }
}

@keyframes flipInXFlash {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 5deg);
    opacity: 1;
  }

  80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -1deg);
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
	opacity: 1;
  }
	70%, 80%, 90% {opacity: 0;}
	65%, 75%, 85%, 95% {opacity: 1;}
}



@keyframes flashLong {
  0%,  100% {
    opacity: 0;
  }

  25%, 50%, 75% {
    opacity: 1;
  }
}


@-webkit-keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}


@keyframes zoomInLight {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 0.6;
  }
}

@keyframes fadeInDownSmall {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -25%, 0);
    transform: translate3d(0, -25%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}