*{
	margin: 0px;
	padding: 0px;
}

.s6_1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.s6_2 {
	position: absolute;
	left: 49px;
	top: 356px;
	width: 457px;
	height: 319px;
	animation: fadeInLeft 1s;
	animation-delay: 0.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s6_3 {
	position: absolute;
	left: 518px;
	top: 356px;
	width: 457px;
	height: 319px;
	animation: fadeInRight 1s;
	animation-delay: 1.5s;
	animation-fill-mode: both;
	z-index: 2;
}

.s6_4 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 7;
}

.s6_5 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 7;
}

.s6_pop1 {
	position: absolute;
	left: 49px;
	top: 356px;
	width: 457px;
	height: 319px;
	z-index: 5;
}

.s6_close1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 9;
}

.s6_pop2 {
	position: absolute;
	left: 518px;
	top: 356px;
	width: 457px;
	height: 319px;
	z-index: 5;
}

.s6_close2 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 9;
}
