* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
}

.logo {
	position: absolute;
  left: 93px;
  top: 75px;
  width: 840px;
  height: 165px;
	z-index: 1;
}